/* responsive */
/* PC:>=1024px;
Tablet: >=740px & <1024px
Mobile: <=740px */

/* tablet && mobile  */
@media (max-width:1023px){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .contact-submit-btn{
        font-size: 18px;
    }
    #nav .subnav a {
        padding: 5px 12px;
    }
    .contact-info{
        line-height: 2;
    }
    .social-list{
        font-size: 48px;
        
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}


@media (max-width:739px){
    .s-full-width{
        width: 100% !important;
    }

    .s-col-full{
        width: 100%;
    }
    .s-mt-8{
        margin-top: 8px;
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav>li>a,
    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
       color: #fff;
       padding: 5px 41px;
    }
    #nav li a {
        padding: 1px 24px ;
    }


    /* #content .member-item{
        margin-top: 30px;
        width: 100%;
    } */
    #content .member-img{
        width: 60%;
    }

     .contact-form{
        margin-top: 32px;
     }
}