/* reset css */
*{
    /* emmet sẽ gõ nhanh hơn  */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

/* common */
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-8{
    margin-top: 8px !important;
}


.mt-16{
    margin-top: 16px !important;
    display: block;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.333333%;
}

.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}

.text-center{
    text-align: center !important;
}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1000;
}
#nav{
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}


#nav > li > a{
    color: #fff;
    text-transform: uppercase;

}
#nav li a{
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    
}

#header .search-btn{
    /* display: inline-block; */
    float: right;
    padding: 0 21px;
    cursor: pointer;

}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
   
}
#header .search-btn:hover{
    background-color: #f44336;
}
#slider{
    /* min-height: 500px;
    background-color: #333; */
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/ny.jpg') top center / cover no-repeat;
    position: relative;


}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content{
    /* height: 1000px; */
}

#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading,
#content .section-sub-heading{
    text-align: center;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;

}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;

}
#content .members-list{
    padding-top: 47px;
    /* overflow: hidden; */
}
#content .member-item{
    /* float: left;
    width: 33.333333%; */
    text-align: center;
}
#content .member-name{
   
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
/* tour section */
.tour-section{
    background-color:#000;
    
}
.tickets-list{
    background-color:#fff ;
    margin-top: 40px;
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;

}

.tickets-list .sold_out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* place  */
.places-list{
    margin-top: 32px;
    /* margin-left: -8px;
    margin-right: -8px; */
    margin-bottom: 48px;
    
}

.places-item{
    /* float: left; */
    /* width: 33.33333%; */
    /* padding: 0 8px; */
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: 500;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;

}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}
#footer{

}



/* Modal thông báo  */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease .6s;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 30px;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 1;
    background-color: #f44336;
}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

}
.modal-close{
    position: absolute;
}
.modal-heading-icon{
    margin-right: 16px;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 11px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background: #009688;
    border:none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.9;
}
.modal-footer{
    padding: 16px;
    text-align: right;
}
.modal-footer a{
    color: #2196F3;
}

/* contact-form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}
@keyframes modalFaceIn {
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

